@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.animated-div {
    animation: 0.5s fadeInUp;
}

.game-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.5%;
    left: 7%;
    right: 7%;
    /* bottom:4%; */
    gap: 4px;
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
}

.game-header {
    /* gap: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    margin: 2%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.game-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.game-timer {
    margin-left: 2%;
}

.game-logout {
    display: flex;
    gap: 7px;
    margin-right: 2%;
}

.game-component {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.game-leaderboard {
    display: flex;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.game-drawCanvas {
    /* width: 500px;
    height: 500px; */
    /* background-color: pink; */
    border-radius: 5px;
    /* border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color); */
}

.game-chat {
    /* display: none; */
    /* background-color: aqua; */
    height: 500px;
    border-radius: 5px;
}

.game-result {
    position: absolute;
    /* width:400px;
    height:500px; */
    background-color: #2d8cf0;
    border: 2px solid black;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    font-family: 'Pixelify Sans', sans-serif;
    transform: translate(-50%, -50%);
}

.round-result {
    position: absolute;
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
    background-color: #2d8cf0;
    border: 2px solid black;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    font-family: 'Pixelify Sans', sans-serif;
    transform: translate(-50%, -50%);
}

.result-heading {
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;
}

.gameImg-timer {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 950px) {}