@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


.game-result-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.game-result-list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.game-result-list::-webkit-scrollbar-thumb {
    background-color: #646464;
}

/* body {
    background-color: #b394c9;
    font-family: 'Amatic SC';
} */

#game-result-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-result-container {
    width: 445px;
    height: 600px;
    background-color: black;
    margin: auto;
    font-family: 'Pixelify Sans', sans-serif;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 7px 9px 7px #00000052;

    .leader {
        display: flex;
    }

    .game-result-crown {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        svg {
            width: 3rem;
        }
    }

    .game-result-image {
        height: 58px;
        object-fit: cover;
        width: 58px;
        background-color: black;
        border-radius: 50%;
    }

    .game-result-topLeadersList {
        display: flex;
        position: relative;
        min-height: 120px;
        padding-top: 1rem;

        .game-result-image {
            border-radius: 50%;
            border: 3px solid #b159ffcc;
        }

        .game-result-leader:nth-child(1) {
            color: black;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &:after {
                content: '1';
                width: 30px;
                height: 30px;
                background: #ffc500;
                border-radius: 50%;
                position: absolute;
                right: 0;
                font-family: 'Pixelify Sans', sans-serif;
                text-align: center;
                line-height: 30px;
                font-weight: 700;
                box-shadow: 1px 1px 4px black;
            }

            .game-result-image {
                width: 130px;
                height: 130px;
            }

            .game-result-crown {
                top: -20%;

                svg {
                    fill: #ffc500;
                }
            }

        }

        .game-result-leader:nth-child(2) {
            color: black;
            position: absolute;
            left: 15%;
            transform: translateX(-15%);
            bottom: -20%;

            &:after {
                content: '2';
                width: 30px;
                height: 30px;
                background: #d4d4d4;
                border-radius: 50%;
                position: absolute;
                right: 0;
                font-family: 'Pixelify Sans', sans-serif;
                text-align: center;
                line-height: 30px;
                font-weight: 700;
                box-shadow: 1px 1px 4px black;
            }

            .game-result-image {
                width: 110px;
                height: 110px;
            }

            .game-result-crown {
                top: -25%;

                svg {
                    fill: #d4d4d4;
                }
            }
        }

        .game-result-leader:nth-child(3) {
            color: black;
            position: absolute;
            left: 85%;
            transform: translateX(-85%);
            bottom: -20%;

            &:after {
                content: '3';
                width: 30px;
                height: 30px;
                background: #ab6528;
                border-radius: 50%;
                position: absolute;
                right: 0;
                font-family: 'Pixelify Sans', sans-serif;
                text-align: center;
                line-height: 30px;
                font-weight: 700;
                box-shadow: 1px 1px 4px black;
            }

            .game-result-image {
                width: 110px;
                height: 110px;
            }

            .game-result-crown {
                top: -25%;

                svg {
                    fill: #ab6528;
                }
            }
        }
    }

    .game-result-leaderName {
        position: absolute;
        text-align: center;
        color: white;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
    }

    .game-result-player {
        background-color: #330b7775;
        display: flex;
        border-radius: 5px;
        justify-content: space-around;
        grid-template-columns: 0.4fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;

        align-items: center;
        min-height: 42px;
        text-align: center;
        padding-right: 0.4rem;

        .image {
            width: 28px;
            height: 28px;
            border: 1.5px solid white;
        }
    }

    .game-result-table {
        margin-right: 0.1rem;
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        /* grid-template-columns: 0.4fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr; */
        text-align: center;

        div:nth-child(2) {
            text-align: left;
            margin-left: 5px;
        }

        .image {
            width: 20px;
            height: 20px;
        }
    }

    .game-result-playerslist {
        margin-top: 6rem;
        font-size: 16px;
        overflow: hidden;
        color: white;
        font-family: 'Pixelify Sans', sans-serif;

        .player:nth-child(odd) {
            background-color: #b159ffcc;
            align-items: center;
        }
    }

    .game-result-user {
        /* width: 1%; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
    }

    .game-result-list {
        overflow: scroll;
        height: 20rem;
        overflow-x: hidden;
    }
}

.lobby-back-btn {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.lobby-back-btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.lobby-back-btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}