@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.animated-div {
    animation: 0.5s fadeInUp;
}

.lobby-cont {
    display: flex;
    flex-direction: column;
    height: 70%;
    /* flex-wrap: wrap; */
    /* margin: 0px 100px 100px 100px; */
    position: absolute;
    top: 0.5%;
    left: 7%;
    right: 7%;
    /* bottom:4%; */
    gap: 10px;

    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
}

.lobby-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    margin: 2%;
    height: 100px;
    /* background: lightgrey; */
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.lobby-head-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-right: 5%;
}


.lobby-heading {
    margin-left: 5%;
}

.lobby-components {
    display: flex;
    gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}

/* .lobby-inner-components{
    display:flex;
    gap:2%;
    justify-content: center;
    align-items: center;
} */

.lobby {
    left: 25px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: lightgrey; */
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.gamechat {
    width: 450px;
    height: 500px;
    /* border: 2px solid #323232;
    box-shadow: 4px 4px #323232; */
}

.gameForm-outer {
    display: none;
    height: 300px;
    width: 100%;
    background-color: #f8f8f8;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.gameForm-inner {
    height: 500px;
    width: 500px;
    background-color: #f8f8f8;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.lobby-copy {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.lobby-copy input[type="text"] {
    /* display: none; */
    opacity: 0;
}

.lobby-copy-btn {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.lobby-copy-btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.lobby-copy-btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


@media only screen and (max-width: 800px) {
    .lobby {
        background-color: #2d8cf0;
    }

    /* .lobby-components{
        display: flex;
        flex-direction: column;
    } */

    .gameForm-inner {
        display: none;
    }

    .gameForm-outer {
        display: block;
    }

}

@media only screen and (max-width: 450px) {
    .lobby-head-btn {
        flex-direction: column;
    }
}